@page
@using YourAppNamespace.Pages
@model IndexModel

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informacje - SimWeb</title>
    <link rel="stylesheet" href="/css/site.css" />

</head>
<body>
  
    <main>

        <h2>Aplikacja demonstracyjna Sim Web</h2>

        <p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
        <br />
        <p>Mapa typu torus.</p>
        <br />
        <p>Sekwencja ruchów: <b>dlrludluddlrulr</b>.</p>

        <img src="/images/tytulowa.jpg"  class="tytulowy" />
    </main>
    
</body>
</html>