.map {
    display: grid;
    gap: 0;
    justify-content: center;
    min-width: max-content;
    align-items: center;
}

    .map > div {
        background-color: #d6336c;
        outline: 1px dashed #112d4e;
        min-width: 80px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map > p {
        padding-right: .4rem;
    }

    .map > span {
        padding-top: .2rem;
    }

.map-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.turn {
    min-width: 11rem;
}

button {
    min-width: 4rem;
    min-height: 3rem;
    font-size: 1.6rem;
}

img {
    max-width: 4rem;
    max-height: 4rem;
}
